@import '../variables',
        '../mixins';

.home {
  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 0;
  }
  &__box {
    padding: 20px 10px 0;
    border: 1px solid $gray--medium;
    width: 100%;
    min-height: 511px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &__title {
    position: absolute;
    top: 15px;
    left: 10px;
    padding: 0 10px 20px;
    font-size: 24px;
    color: $black;
    text-transform: uppercase;
    @include weight--bold;
  }
  & .loading {
    width: 100%;
    height: 300px;
  }
}
